# Avaliação – Produto Renda Fixa
## Construção de uma calculadora de renda fixa em Python - NTN-F


Formato de envio: arquivo .ipynb (Jupyter Notebook) conforme instruções a seguir.

- Pode construir quantos métodos/classes/funções adicionais desejarem;
- Pode utilizar bibliotecas abertas;
- O arquivo deve conter as funções solicitadas e os cenários de teste (pelo menos um teste para cada função/método). 
- Comente as funções e o que mais achar necessário no código;

Exemplo de definição da função com docstring detalhando os parâmetros:

```{python}
def calcula_soma(a, b):
''' Calcula a soma de dois números decimais
    a: float
    b: float
    '''
    return a + b
```

Exemplo de teste da função com a definição dos parâmetros e chamada da função:

```{python}
a = 1.3
b = 10.07
resultado = calcula_soma(a, b):
print(f'Resultado: {resultado}')
```

- A nota da avaliação considerará apenas o resultado das funções desejadas (existência de bugs, bom funcionamento, etc);
- Na avaliação qualitativa, faremos comentários de melhorias na estrutura do código (para fins de evolução de aprendizado, e não para reduzir nota).

### Funções/métodos mínimos de entrega:
- calcula_prazo(dt_ini, dt_fim, feriados, convencao)
    - Retorna: prazo anualizado (float)
    - convencao: 'DU/252' ou 'DC/360'
    
    
- constroi_fluxo(dt_fim, frequencia)
    - Retorna: Lista de datas dos fluxos (list datetime.date)
    
    
- calcula_pu(VF, prazo_anual, taxa_anual)
    - Retorna pu (float)
    
    
- calcula_taxa_anual(PU, prazo_anual, valor_base=100)
    - Retorna: taxa_anual (float)
    
    
- calcula_pu_ntnf(dt_venc, dt_base, tir) *
    - Retorna: pu (float)
    - Imprime tabela com o cashflow (Data do fluxo, VF, DU, Fator de desconto, PU)

\* semelhante ao calculado em aula no Excel. Sugere-se aproveitar as funções anteriores para este cálculo.

### Sugestões (itens não obrigatórios):
- Utilizar variáveis de data no formato datetime.date;
- Utilizar o calendário Anbima em .xls (disponibilizado no material de aula ou em: https://www.anbima.com.br/feriados/arqs/feriados_nacionais.xls) para cálculo de dias úteis;

### Itens adicionais:

Se você deseja incrementar seu framework para construção de portfólio pessoal, seguem algumas sugestões de melhorias para o projeto. 

Obs: Estes itens não serão considerados na nota, trabalhe neles apenas após ter garantido a parte obrigatória:

- Implementar diversas contagens de prazo. Ex: DU/252, 30/360, ACT/360, ACT/ACT. Ver padrões ISDA.
- Implementar tratamento de dias úteis/feriados. Por exemplo, se o vencimento de um fluxo cai num feriado/fim de semana, deslocar para o dia útil anterior ou próximo; escolher o critério via parâmetro;
- Calcular accrual. Ex: def calcula_accrual(dt_ini, dt_base, taxa_anual);
- Ler dados históricos (por exemplos, planilhas do tesouro direto) e fazer gráfico da série de preços de mercado ou das taxas;
- Fazer gráficos de séries históricas de preço de mercado e preço accruado no mesmo gráfico.
- Etc.


## Importando Bibliotecas

In [1]:
# Importando bibliotecas 
from datetime import datetime

# importando a biblioteca RFCalculadora
from RFCalculadora import RFCalculadora

# Instanciando o objeto com a classe RFCalculadora
ntnF = RFCalculadora()

## Métodos da biblioteca RFCalculadora

### Carrega_Feriados

Método para carregar a planilha de feriados da Anbima

In [2]:
# Carrega planilha de feriados
# Para o funcionamento correto é obrigatório a carga do dtaframe de Feriados

caminho_arquivo = '.\\dados\\feriados_nacionais.xls'

df = ntnF.Carrega_Feriados(caminho_arquivo)

DataFrame RFCalculadora.df_feriado carregado com successo.

### Calcula_Prazo

Método para calcular dias entre a data inicial e a data final

In [3]:
# Testando o método Calcula_Prazo com dias corridos
dt_ini = datetime.now().strftime("%Y-%m-%d")
dt_fim = "2027-01-01"
convencao = "DC/360"
dias_corridos = ntnF.Calcula_Prazo(dt_ini, dt_fim, convencao)
print(f'Período: {dt_ini} - {dt_fim}: Quantidade de dias corridos: {dias_corridos}')

# Testando o método Calcula_Prazo com dias úteis
convencao = "DU/252"
dias_uteis = ntnF.Calcula_Prazo(dt_ini, dt_fim, convencao)
print(f'Período: {dt_ini} - {dt_fim}: Quantidade de dias úteis: {dias_uteis}')

Período: 2022-02-10 - 2027-01-01: Quantidade de dias corridos: 1276
Período: 2022-02-10 - 2027-01-01: Quantidade de dias úteis: 1228

### Calcula_Cupom

Método para calcular o valor do cupom

In [4]:
# Testando o método Calcula_Cupom

vl_nominal = 1000
ntnF.Calcula_Cupom(vl_nominal)

48.80885

### Data_Util

Método para verificar se a data é uma data de dia útil

In [5]:
# Testando a função com dia atual
dt = datetime.now().date()
condicao = ntnF.Data_Util(dt)
print(f'Data: {dt} é um dia atual? {condicao}')

# Testando a método com feriado
dt = datetime(2022, 12, 25)
condicao = ntnF.Data_Util(dt)
print(f'Data: {dt} é um dia útil? {condicao}')

# Testando a função com final de semana
dt = datetime(2023, 2, 5)
condicao = ntnF.Data_Util(dt)
print(f'Data: {dt} é um dia útil? {condicao}')

# Testando a função com dia útil
dt = datetime(2024, 8, 7)
condicao = ntnF.Data_Util(dt)
print(f'Data: {dt} é um dia útil? {condicao}')

Data: 2022-02-10 é um dia atual? True
Data: 2022-12-25 00:00:00 é um dia útil? False
Data: 2023-02-05 00:00:00 é um dia útil? False
Data: 2024-08-07 00:00:00 é um dia útil? True

### Constroi_Fluxo

Método para construção do fluxo de pagamentos

In [6]:
# Testando o método de construção de fluxos

dt_entrada = datetime.now().date()
dt_vencimento = datetime(2027, 1, 1).date()
vl_nominal = 1000
tx_rendimento = 11.22
D1 = 1
df_fluxo = ntnF.Constroi_Fluxo(dt_entrada, dt_vencimento, vl_nominal, tx_rendimento, D1)
df_fluxo

    Tipo Data_Entrada Data_Compra Data_Pagamento  Dias         VP
0  Cupom   10/02/2022  11/02/2022     01/07/2022    95  46.890877
1  Cupom   10/02/2022  11/02/2022     02/01/2023   222  44.444052
2  Cupom   10/02/2022  11/02/2022     03/07/2023   346  42.178267
3  Cupom   10/02/2022  11/02/2022     02/01/2024   471  40.011106
4  Cupom   10/02/2022  11/02/2022     01/07/2024   595  37.971315
5  Cupom   10/02/2022  11/02/2022     02/01/2025   725  35.944391
6  Cupom   10/02/2022  11/02/2022     01/07/2025   847  34.140726
7  Cupom   10/02/2022  11/02/2022     02/01/2026   978  32.304645
8  Cupom   10/02/2022  11/02/2022     01/07/2026  1100   30.68362
9  Cupom   10/02/2022  11/02/2022     04/01/2027  1228   29.07024

### Calcula_Valor_Presente

Método para calcular o valor presente

In [7]:
# Testando o método Calcula_Valor_Presente

vl_nominal = 1000
qt_dias_prazo = df_fluxo["Dias"].iloc[-1]
tx_rendimento = 11.22

ntnF.Calcula_Valor_Presente(vl_nominal, tx_rendimento, qt_dias_prazo)

595.5936246849859

### Calcula_Taxa_Rendimento

Método para calculo da taxa de rendimento

In [8]:
# Testando o método Calcula_Taxa_Rendimento

vl_PU = ntnF.Calcula_Valor_Presente(vl_nominal, tx_rendimento, qt_dias_prazo)
qt_dias_prazo = df_fluxo["Dias"].iloc[-1]
vl_base = 1000

ntnF.Calcula_Taxa_Rendimento(vl_PU, qt_dias_prazo, vl_base)

11.22

### Calcula_PU_NTNF

Método para calcular o valor do PU do NTN-F, o valor presente do Título e apresentar 
o fluxo de pagamentos semestrais

In [9]:
# Testando o método Calcula_PU_NTNF
dt_entrada = datetime.now().strftime("%d/%m/%Y")
dt_vencimento = '01/01/2027'
vl_nominal = 1000
tx_rendimento = 11.22
D1 = 1
df_fluxo, vl_principal, vl_pu_ntnf = ntnF.Calcula_PU_NTNF(dt_entrada, dt_vencimento, vl_nominal, tx_rendimento, D1)

print(f'Valor PU Título   : {vl_pu_ntnf}')
print('')
print(f'Fluxo de pagamento da NTN-F com vencimento em {dt_vencimento}')
df_fluxo

Valor PU Título   : 969.232864

Fluxo de pagamento da NTN-F com vencimento em 01/01/2027

         Tipo Data_Entrada Data_Compra Data_Pagamento  Dias          VP
0       Cupom   10/02/2022  11/02/2022     01/07/2022    95   46.890877
1       Cupom   10/02/2022  11/02/2022     02/01/2023   222   44.444052
2       Cupom   10/02/2022  11/02/2022     03/07/2023   346   42.178267
3       Cupom   10/02/2022  11/02/2022     02/01/2024   471   40.011106
4       Cupom   10/02/2022  11/02/2022     01/07/2024   595   37.971315
5       Cupom   10/02/2022  11/02/2022     02/01/2025   725   35.944391
6       Cupom   10/02/2022  11/02/2022     01/07/2025   847   34.140726
7       Cupom   10/02/2022  11/02/2022     02/01/2026   978   32.304645
8       Cupom   10/02/2022  11/02/2022     01/07/2026  1100    30.68362
9       Cupom   10/02/2022  11/02/2022     04/01/2027  1228    29.07024
10  Principal   10/02/2022  11/02/2022     04/01/2027  1228  595.593625

## Cálculo de NTN-F

In [10]:
#TESOURO PREFIXADO
#com juros semestrais 2023

dt_entrada = datetime.now().strftime("%d/%m/%Y")
dt_vencimento = '01/01/2023'
vl_nominal = 1000
tx_rendimento = 12.31
D1 = 1

df_fluxo, vl_principal, vl_pu_ntnf = ntnF.Calcula_PU_NTNF(dt_entrada, dt_vencimento, vl_nominal, tx_rendimento, D1)

print(f'Valor PU = {vl_pu_ntnf}')
print('')
print(f'Fluxo de pagamento da NTN-F com vencimento em {dt_vencimento}')
df_fluxo

Valor PU = 993.566454

Fluxo de pagamento da NTN-F com vencimento em 01/01/2023

        Tipo Data_Entrada Data_Compra Data_Pagamento Dias          VP
0      Cupom   10/02/2022  11/02/2022     01/07/2022   95   46.718795
1      Cupom   10/02/2022  11/02/2022     02/01/2023  222    44.06384
2  Principal   10/02/2022  11/02/2022     02/01/2023  222  902.783819

In [11]:
#TESOURO PREFIXADO
#com juros semestrais 2031

dt_entrada = datetime.now().strftime("%d/%m/%Y")
dt_vencimento = '01/01/2031'
vl_nominal = 1000
tx_rendimento = 11.53
D1 = 1

df_fluxo, vl_principal, vl_pu_ntnf = ntnF.Calcula_PU_NTNF(dt_entrada, dt_vencimento, vl_nominal, tx_rendimento, D1)

print(f'Valor PU = {vl_pu_ntnf}')
print('')
#print(f'Fluxo de pagamento da NTN-F com vencimento em {dt_vencimento.strftime("%d/%m/%Y")}')
print(f'Fluxo de pagamento da NTN-F com vencimento em {dt_vencimento}')
df_fluxo

Valor PU = 932.950077

Fluxo de pagamento da NTN-F com vencimento em 01/01/2031

         Tipo Data_Entrada Data_Compra Data_Pagamento  Dias          VP
0       Cupom   10/02/2022  11/02/2022     01/07/2022    95   46.841701
1       Cupom   10/02/2022  11/02/2022     02/01/2023   222   44.335207
2       Cupom   10/02/2022  11/02/2022     03/07/2023   346   42.017385
3       Cupom   10/02/2022  11/02/2022     02/01/2024   471   39.803497
4       Cupom   10/02/2022  11/02/2022     01/07/2024   595    37.72259
5       Cupom   10/02/2022  11/02/2022     02/01/2025   725   35.657706
6       Cupom   10/02/2022  11/02/2022     01/07/2025   847   33.822819
7       Cupom   10/02/2022  11/02/2022     02/01/2026   978   31.957562
8       Cupom   10/02/2022  11/02/2022     01/07/2026  1100   30.313078
9       Cupom   10/02/2022  11/02/2022     04/01/2027  1228   28.678607
10      Cupom   10/02/2022  11/02/2022     01/07/2027  1351   27.191076
11      Cupom   10/02/2022  11/02/2022     03/01/2028  1479   25.724943
12      Cupom   10/02/2022  11/02/2022     03/07/2028  1603   24.380056
13      Cupom   10/02/2022  11/02/2022     02/01/2029  1728   23.095475
14      Cupom   10/02/2022  11/02/2022     02/07/2029  1852   21.888055
15      Cupom   10/02/2022  11/02/2022     02/01/2030  1978   20.725801
16      Cupom   10/02/2022  11/02/2022     01/07/2030  2101   19.650774
17      Cupom   10/02/2022  11/02/2022     02/01/2031  2231   18.575117
18  Principal   10/02/2022  11/02/2022     02/01/2031  2231  380.568629